@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-image:linear-gradient(196deg, #f1a9a9, #e66767);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    
}

.container{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    display: flex;
}



.text-container{
    width: 500px;
}

.name{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.heading{
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.price-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;

}

.actual-price{
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.6;
    padding-left: 15px;
    
}

.button-container{
    display: flex;
    
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    margin-right: 25px;

    gap:20px;
    
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    margin-top: 20px;
    width: 350px;
}

.color-button{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.color{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    background-size: cover;
    margin-right: 10px;
}

.cart-button{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    background-color: #944852;
    width: fit-content;
    padding: 0.8rem 2.5rem;
    color: white;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: all 0.8s;
}

.cart-button:hover{
    background-color: #1f2029;
}

.cart{
    height: fit-content;
}

.btn{
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background: none;
    height: 40px;
    width: 40px;
    border: none;
}


